In [87]:
# import dash
# from dash import dcc, html
# import plotly.express as px

# app = dash.Dash(__name__)

# app.layout = html.Div([
#     dcc.Graph(figure=px.line(x=[1,2,3], y=[1,4,9]))
# ])

# if __name__ == '__main__':
#     app.run(mode='inline', port=8050, debug=True)

In [88]:
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [89]:
wb_data = px.data.gapminder()
wb_data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [90]:
app = dash.Dash(__name__)
app.title= "World Bank Data"

In [91]:
title=html.H1("World Bank Data")

In [92]:
scatter_header=html.H4("GPD and life expectancy evolution by region")

In [93]:
# fig = px.scatter(wb_data, x="gdpPercap", y="lifeExp", size="pop", color="continent", animation_frame="year",
#                 hover_name="country", range_y=[20,90], size_max=60, log_x=True )

In [94]:
@app.callback(Output("scatter-graph", "figure"), [Input("scatter-dropdown", "value")])
def select_region(region):
    if region:
        subset = wb_data.query(f"continent== '{region}'")
    else:
        subset = wb_data
        
    fig = px.scatter(subset, x="gdpPercap", y="lifeExp", size="pop", color="continent", animation_frame="year",
                hover_name="country", range_y=[20,90], size_max=60, log_x=True )
    return fig

In [95]:
scatter_dropdown = dcc.Dropdown(
    id="scatter-dropdown",
    options=[
    {"label":"Worldwide", "value": ""},
     {"label":"Asia", "value": "Asia"},
     {"label":"Americas", "value": "Americas"},
     {"label":"Europe", "value": "Europe"},
     {"label":"Africa", "value": "Africa"},
     {"label":"Oceania", "value": "Oceania"}
], value="")

In [96]:
scatter_graph = dcc.Graph(id="scatter-graph")

In [97]:
scatter_row = html.Div(children=[
    scatter_header,
    scatter_dropdown,
    scatter_graph])

In [98]:
app.layout = html.Div(
children=[title, scatter_row]
)

if __name__ == '__main__':
    app.run(mode='inline', port=8050, debug=True)